Repository dev-sec/ansible-collection-hardening, changes with the labels that .github/labeler.yml gives for each.
All labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

added os_immutable_fs to os_hardening and ssh_hardening and edited tasks to allow both roles to work with redhat and fedora immutable filesystem os's - next step to add support for ubuntu core
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/hardening.yml
  roles/os_hardening/tasks/rpm_ostree.yml
  roles/os_hardening/tasks/yum.yml
  roles/os_hardening/vars/Fedora.yml
  roles/os_hardening/vars/RedHat.yml
  roles/ssh_hardening/tasks/hardening.yml
  roles/ssh_hardening/tasks/install.yml
  roles/ssh_hardening/vars/Fedora.yml
  roles/ssh_hardening/vars/RedHat.yml
Labels: os_hardening, ssh_hardening

added os_immutable_fs to os_hardening and ssh_hardening and edited tasks to allow both roles to work with redhat and fedora immutable filesystem os's
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/hardening.yml
  roles/os_hardening/tasks/rpm_ostree.yml
  roles/os_hardening/tasks/yum.yml
  roles/os_hardening/vars/Fedora.yml
  roles/os_hardening/vars/RedHat.yml
  roles/ssh_hardening/tasks/hardening.yml
  roles/ssh_hardening/tasks/install.yml
  roles/ssh_hardening/vars/Fedora.yml
  roles/ssh_hardening/vars/RedHat.yml
Labels: os_hardening, ssh_hardening

Fix: ForwardAgent j2 template space in roles/ssh_hardening/templates/openssh.conf.j2
  roles/ssh_hardening/templates/openssh.conf.j2
Labels: ssh_hardening

Fix: ForwardAgent j2 template space in roles/ssh_hardening/templates/openssh.conf.j2 (#856)
  roles/ssh_hardening/templates/openssh.conf.j2
Labels: ssh_hardening

update changelog
  CHANGELOG.md
Labels: none

.github/labeler.yml:

---
mysql_hardening:
  - changed-files:
      - any-glob-to-any-file:
          - roles/mysql_hardening/**
          - molecule/mysql_hardening/**
          - .github/workflows/mysql_hardening.yml

os_hardening:
  - changed-files:
      - any-glob-to-any-file:
          - roles/os_hardening/**
          - molecule/os_hardening/**
          - .github/workflows/os_hardening.yml

ssh_hardening:
  - changed-files:
      - any-glob-to-any-file:
          - roles/ssh_hardening/**
          - molecule/ssh_hardening/**
          - molecule/ssh_hardening_custom_tests/**
          - .github/workflows/ssh_hardening.yml
          - .github/workflows/ssh_hardening_custom_tests.yml

nginx_hardening:
  - changed-files:
      - any-glob-to-any-file:
          - roles/nginx_hardening/**
          - molecule/nginx_hardening/**
          - .github/workflows/nginx_hardening.yml
