Repository dev-sec/ansible-collection-hardening, pull requests merged in 2020-10, with the labels that each got.

#314 use touch for 10.hardcore.conf to avoid problems with dry-run
  tasks/limits.yml
Labels: bug, patch

#315 Improve Documentation
  README.md
Labels: enhancement

#311 adjust permissions on shadow file on suse
  vars/Suse.yml
Labels: patch
