Repository dev-sec/ansible-collection-hardening, pull requests merged in 2020-08, with the labels that each got.

#287 improve testing
  .kitchen.vagrant.yml
  .kitchen.yml
  .travis.yml
  rhel6_provision.rb
  suse_provision.rb
  tasks/pam.yml
  tests/test.yml
Labels: enhancement, minor

#289 do not blacklist used filesystems
  tasks/modprobe.yml
Labels: patch

#295 Optimize and unify when clause
  tasks/auditd.yml
  tasks/hardening.yml
  tasks/limits.yml
  tasks/main.yml
  tasks/modprobe.yml
  tasks/sysctl.yml
Labels: enhancement, patch

#294 use find module instead of shell
  tasks/yum.yml
Labels: enhancement, patch

#297 replace module parameter fixed
  tasks/yum.yml
Labels: bug, patch

#300 file permissions explicitly defined
  tasks/sysctl.yml
  tasks/yum.yml
Labels: enhancement, minor
