Repository dev-sec/ansible-collection-hardening, pull requests merged in 2020-12, with the labels that each got.

#339 Improvements of comments in opensshd.conf.j2 #338
  roles/ssh_hardening/templates/opensshd.conf.j2
Labels: enhancement, patch, ssh_hardening

#350 Fix #348: make ssh configuration files paths configurable
  roles/ssh_hardening/README.md
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/tasks/hardening.yml
Labels: enhancement, minor, ssh_hardening

#342 Removed Protocol statement in later versions of sshd, since the code …
  roles/ssh_hardening/README.md
  roles/ssh_hardening/templates/openssh.conf.j2
  roles/ssh_hardening/templates/opensshd.conf.j2
Labels: enhancement, minor, ssh_hardening

#353 change inclusion of os specific defaults
  molecule/os_hardening/verify.yml
  molecule/ssh_hardening/molecule.yml
  roles/mysql_hardening/tasks/main.yml
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/hardening.yml
  roles/os_hardening/templates/etc/login.defs.j2
  roles/os_hardening/vars/Amazon.yml
  roles/os_hardening/vars/Archlinux.yml
  roles/os_hardening/vars/Debian.yml
  roles/os_hardening/vars/Fedora.yml
  roles/os_hardening/vars/Oracle Linux.yml
  roles/os_hardening/vars/RedHat-6.yml
  roles/os_hardening/vars/RedHat.yml
  roles/os_hardening/vars/Suse.yml
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/tasks/hardening.yml
  roles/ssh_hardening/vars/Archlinux.yml
  roles/ssh_hardening/vars/Debian.yml
  roles/ssh_hardening/vars/Fedora.yml
  roles/ssh_hardening/vars/FreeBSD.yml
  roles/ssh_hardening/vars/OpenBSD.yml
  roles/ssh_hardening/vars/Oracle Linux.yml
  roles/ssh_hardening/vars/RedHat.yml
  roles/ssh_hardening/vars/RedHat_8.yml
  roles/ssh_hardening/vars/SmartOS.yml
  roles/ssh_hardening/vars/Suse.yml
  roles/ssh_hardening/vars/main.yml
Labels: enhancement, mysql_hardening, os_hardening, ssh_hardening

#363 add a runtime.yml to declare minimum ansible version
  README.md
  meta/runtime.yml
Labels: enhancement
