Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-02, with the labels that each got.

#389 use fqcn for community.crypto.openssh_keypair module
  galaxy.yml
  roles/ssh_hardening/tasks/crypto_hostkeys.yml
Labels: bug, ssh_hardening

#394 Add variable to specify SSH host RSA key size
  roles/ssh_hardening/README.md
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/tasks/crypto_hostkeys.yml
Labels: enhancement, minor, ssh_hardening

#393 Set default for ssh host key files only when hardening the server
  roles/ssh_hardening/tasks/hardening.yml
Labels: enhancement, minor, ssh_hardening

#395 fix galaxy action to update local galaxy.yml
  .github/workflows/galaxy.yml
  galaxy.yml
Labels: bug, patch

#397 update ansible-lint to version 5
  requirements.txt
  roles/os_hardening/tasks/minimize_access.yml
Labels: mysql_hardening, nginx_hardening, os_hardening, patch, ssh_hardening

#399 add restart handler variable for mysql role
  .prettierignore
  roles/mysql_hardening/README.md
  roles/mysql_hardening/defaults/main.yml
  roles/mysql_hardening/handlers/main.yml
Labels: enhancement, mysql_hardening

#400 make wrong password fail task
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
Labels: mysql_hardening

#401 do not install mysql python package on target host
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
  roles/mysql_hardening/vars/Debian.yml
  roles/mysql_hardening/vars/RedHat_7.yml
  roles/mysql_hardening/vars/RedHat_8.yml
  roles/mysql_hardening/vars/Ubuntu_16.yml
  roles/mysql_hardening/vars/Ubuntu_18.yml
  roles/mysql_hardening/vars/Ubuntu_20.yml
Labels: mysql_hardening

#403 Extend GSSAPI configuration support to ssh_config
  roles/ssh_hardening/README.md
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/templates/openssh.conf.j2
Labels: enhancement, minor, ssh_hardening
