Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-04, with the labels that each got.

#438 remove secure-auth param if mysql >= 8.0.3
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/ssh_hardening.yml
  molecule/mysql_hardening/molecule.yml
  roles/mysql_hardening/tasks/main.yml
Labels: mysql_hardening, nginx_hardening, os_hardening, patch, ssh_hardening

#437 Fix ssh kex sntrup761x25519-sha512@openssh.com for openssh >= 8.5
  roles/ssh_hardening/tasks/crypto_kex.yml
  roles/ssh_hardening/vars/main.yml
Labels: bug, patch, ssh_hardening

#423 add new tasks to delete mysql users without passwords
  molecule/mysql_hardening/converge.yml
  molecule/mysql_hardening/prepare.yml
  requirements.txt
  roles/mysql_hardening/README.md
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
Labels: mysql_hardening, nginx_hardening, os_hardening, ssh_hardening

#439 fixed a typo in comments
  roles/ssh_hardening/tasks/hardening.yml
Labels: documentation, ssh_hardening

#442 ssh: Client HostKeyAlgorithms configuration variable
  roles/ssh_hardening/README.md
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/templates/openssh.conf.j2
Labels: enhancement, minor, ssh_hardening

#443 mysql USER and HOST should be quoted for drop query
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
Labels: bug, mysql_hardening, patch

#444 Check for MariaDB Version when selecting users without passwords
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
Labels: bug, mysql_hardening, patch

#415 Adds dependency on ansible.posix and community.general
  galaxy.yml
Labels: bug, patch
