Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-01, with the labels that each got.

#370 make auditd 'max_log_file' configurable
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/templates/etc/audit/auditd.conf.j2
Labels: enhancement, minor, os_hardening

#371 Sorted sysctl values and lists in READMEs alphabetically (No functional changes).
  README.md
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/ssh_hardening/README.md
Labels: enhancement

#368 reduce maximum unauthenticated ssh sessions
  roles/ssh_hardening/README.md
  roles/ssh_hardening/defaults/main.yml
Labels: enhancement, minor, ssh_hardening

#374 check for correct cpu vendor in initramfs-tools
  roles/os_hardening/templates/etc/initramfs-tools/modules.j2
Labels: bug, os_hardening, patch

#372 Syncookie
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/vars/Amazon.yml
Labels: enhancement, minor, os_hardening

#378 Added comment on top of templates about which role manages the file
  roles/mysql_hardening/templates/hardening.cnf.j2
  roles/mysql_hardening/templates/my.cnf.j2
  roles/nginx_hardening/templates/hardening.conf.j2
  roles/os_hardening/templates/etc/audit/auditd.conf.j2
  roles/os_hardening/templates/etc/default/ufw.j2
  roles/os_hardening/templates/etc/initramfs-tools/modules.j2
  roles/os_hardening/templates/etc/libuser.conf.j2
  roles/os_hardening/templates/etc/login.defs.j2
  roles/os_hardening/templates/etc/modprobe.d/modprobe.j2
  roles/os_hardening/templates/etc/pam.d/rhel_system_auth.j2
  roles/os_hardening/templates/etc/profile.d/profile.conf.j2
  roles/os_hardening/templates/etc/securetty.j2
  roles/os_hardening/templates/etc/sysconfig/rhel_sysconfig_init.j2
  roles/os_hardening/templates/usr/share/pam-configs/pam_passwdqd.j2
  roles/os_hardening/templates/usr/share/pam-configs/pam_tally2.j2
  roles/ssh_hardening/templates/authorized_principals.j2
  roles/ssh_hardening/templates/openssh.conf.j2
  roles/ssh_hardening/templates/opensshd.conf.j2
  roles/ssh_hardening/templates/revoked_keys.j2
  roles/ssh_hardening/templates/trusted_user_ca_keys.j2
Labels: mysql_hardening, nginx_hardening, os_hardening, patch, ssh_hardening

#376 Regenerate RSA key with size 4096 bits
  roles/ssh_hardening/tasks/crypto_hostkeys.yml
  roles/ssh_hardening/vars/Archlinux.yml
  roles/ssh_hardening/vars/Debian.yml
  roles/ssh_hardening/vars/Fedora.yml
  roles/ssh_hardening/vars/FreeBSD.yml
  roles/ssh_hardening/vars/OpenBSD.yml
  roles/ssh_hardening/vars/RedHat.yml
  roles/ssh_hardening/vars/RedHat_8.yml
  roles/ssh_hardening/vars/SmartOS.yml
  roles/ssh_hardening/vars/Suse.yml
Labels: minor, ready to review

#380 add Support for OpenSSH HostCertificate config option
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/templates/opensshd.conf.j2
Labels: enhancement, minor, ssh_hardening
