Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-12, with the labels that each got.

#511 add feature to disable coredump to limit task
  roles/os_hardening/tasks/limits.yml
  roles/os_hardening/templates/etc/systemd/coredump.conf.d/coredumps.conf.j2
Labels: os_hardening

#513 Feature coredump
  molecule/os_hardening/converge.yml
  roles/os_hardening/handlers/main.yml
  roles/os_hardening/tasks/limits.yml
Labels: patch, os_hardening

#516 Add option to set timeout in seconds to logout users
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/profile.yml
  roles/os_hardening/templates/etc/profile.d/tmout.sh.j2
Labels: enhancement, minor, os_hardening
