Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-06, with the labels that each got.

#451 Use `include_tasks` for os_hardening/main.yml
  roles/os_hardening/tasks/hardening.yml
  roles/os_hardening/tasks/main.yml
Labels: bug, os_hardening

#456 add tag always to os dependent vars task
  roles/mysql_hardening/tasks/main.yml
  roles/os_hardening/tasks/hardening.yml
  roles/ssh_hardening/tasks/hardening.yml
Labels: bug, mysql_hardening, os_hardening, ssh_hardening

#454 Add support for Rocky Linux 8
  roles/mysql_hardening/vars/Rocky_8.yml
  roles/os_hardening/vars/Rocky_8.yml
  roles/ssh_hardening/vars/Rocky_8.yml
Labels: enhancement, minor, mysql_hardening, os_hardening, ssh_hardening

#452 make sha rounds configurable and increase no of rounds
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/templates/etc/login.defs.j2
  roles/os_hardening/templates/etc/pam.d/rhel_auth.j2
Labels: enhancement, minor, os_hardening

#457 add rocky linux 8 tests and make sure that all relevant tasks are execd
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/ssh_hardening.yml
  README.md
  roles/os_hardening/tasks/sysctl.yml
  roles/ssh_hardening/tasks/crypto_hostkeys.yml
Labels: minor, mysql_hardening, nginx_hardening, os_hardening, ssh_hardening

#458 Cleanup old OS-support and simplify vars
  roles/os_hardening/tasks/hardening.yml
  roles/os_hardening/tasks/modprobe.yml
  roles/os_hardening/tasks/pam.yml
  roles/os_hardening/tasks/sysctl.yml
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/tasks/crypto_macs.yml
  roles/ssh_hardening/templates/opensshd.conf.j2
  roles/ssh_hardening/vars/main.yml
Labels: minor, os_hardening, ssh_hardening
