Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-03, with the labels that each got.

#405 Ensure permissions on /etc/crontab are configured
  roles/os_hardening/tasks/cron.yml
  roles/os_hardening/tasks/hardening.yml
Labels: os_hardening

#421 Improve Release Action
  .github/workflows/release.yml
Labels: patch

#418 Improve Documentation for sysctl defaults
  roles/os_hardening/defaults/main.yml
Labels: documentation, os_hardening, patch

#429 add support for using a proxy to test with molecule
  molecule/mysql_hardening/converge.yml
  molecule/mysql_hardening/molecule.yml
  molecule/mysql_hardening/prepare.yml
  molecule/mysql_hardening/verify.yml
  molecule/nginx_hardening/converge.yml
  molecule/nginx_hardening/molecule.yml
  molecule/nginx_hardening/prepare.yml
  molecule/nginx_hardening/verify.yml
  molecule/os_hardening/converge.yml
  molecule/os_hardening/molecule.yml
  molecule/os_hardening/prepare.yml
  molecule/os_hardening/verify.yml
  molecule/ssh_hardening/converge.yml
  molecule/ssh_hardening/molecule.yml
  molecule/ssh_hardening/prepare.yml
  molecule/ssh_hardening/verify.yml
Labels: mysql_hardening, nginx_hardening, os_hardening, patch, ssh_hardening

#428 Harden user home dirs
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/user_accounts.yml
Labels: minor, os_hardening

#430 Remove comments from PAM config file, but keep it in the template
  roles/os_hardening/templates/etc/pam.d/rhel_auth.j2
Labels: os_hardening, patch

#431 Use pam_pwhistory.so instead of pam_unix.so for remembering old passwords
  roles/os_hardening/templates/etc/pam.d/rhel_auth.j2
Labels: minor, os_hardening

#432 os_auth_pam_pwquality_options: Changed type to authtok_type
  roles/os_hardening/defaults/main.yml
Labels: os_hardening

#424 Not accepting source routing for IPv6. This was already done for IPv4.
  roles/os_hardening/defaults/main.yml
Labels: enhancement, minor, os_hardening

#436 Improved comments.
  roles/os_hardening/defaults/main.yml
Labels: os_hardening

#422 Uppercased first letter of task names.
  roles/mysql_hardening/handlers/main.yml
  roles/mysql_hardening/tasks/configure.yml
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
  roles/nginx_hardening/handlers/main.yml
  roles/nginx_hardening/tasks/main.yml
  roles/os_hardening/handlers/main.yml
  roles/os_hardening/tasks/apt.yml
  roles/os_hardening/tasks/auditd.yml
  roles/os_hardening/tasks/limits.yml
  roles/os_hardening/tasks/login_defs.yml
  roles/os_hardening/tasks/minimize_access.yml
  roles/os_hardening/tasks/modprobe.yml
  roles/os_hardening/tasks/pam.yml
  roles/os_hardening/tasks/pam_debian.yml
  roles/os_hardening/tasks/pam_rhel.yml
  roles/os_hardening/tasks/profile.yml
  roles/os_hardening/tasks/rhosts.yml
  roles/os_hardening/tasks/securetty.yml
  roles/os_hardening/tasks/selinux.yml
  roles/os_hardening/tasks/suid_sgid.yml
  roles/os_hardening/tasks/sysctl.yml
  roles/os_hardening/tasks/user_accounts.yml
  roles/os_hardening/tasks/yum.yml
  roles/ssh_hardening/handlers/main.yml
  roles/ssh_hardening/tasks/ca_keys_and_principals.yml
  roles/ssh_hardening/tasks/crypto_ciphers.yml
  roles/ssh_hardening/tasks/crypto_hostkeys.yml
  roles/ssh_hardening/tasks/crypto_kex.yml
  roles/ssh_hardening/tasks/crypto_macs.yml
  roles/ssh_hardening/tasks/hardening.yml
  roles/ssh_hardening/tasks/selinux.yml
Labels: mysql_hardening, nginx_hardening, os_hardening, ssh_hardening

#427 add restart-auditd handler after configuration change
  molecule/mysql_hardening/verify.yml
  molecule/nginx_hardening/verify.yml
  molecule/os_hardening/verify.yml
  molecule/ssh_hardening/verify.yml
  roles/os_hardening/handlers/main.yml
  roles/os_hardening/tasks/auditd.yml
Labels: mysql_hardening, nginx_hardening, os_hardening, patch, ssh_hardening
