Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-11, with the labels that each got.

#487 Add whitelist option for yum repository files
  molecule/os_hardening/converge.yml
  molecule/os_hardening/prepare.yml
  molecule/os_hardening/prepare_yum.yml
  molecule/os_hardening/verify.yml
  molecule/os_hardening/verify_yum.yml
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/yum.yml
Labels: os_hardening

#499 Improve testing: install packages on Arch Linux
  molecule/os_hardening/prepare.yml
  molecule/ssh_hardening/prepare.yml
  molecule/ssh_hardening_custom_tests/prepare.yml
Labels: os_hardening, ssh_hardening

#470 Add TLSv1.3 to nginx default configuration
  roles/nginx_hardening/defaults/main.yml
Labels: enhancement, minor, nginx_hardening

#505 Fix duplicate sysctl config in fs
  roles/os_hardening/defaults/main.yml
Labels: bug, patch, os_hardening

#506 Update nginx_add_header README to match default
  roles/nginx_hardening/README.md
Labels: nginx_hardening, documentation

#501 Updated dh_params to 4096
  roles/nginx_hardening/defaults/main.yml
Labels: enhancement, minor, nginx_hardening

#509 prettify nginx options
  roles/nginx_hardening/defaults/main.yml
Labels: nginx_hardening

#510 change hidepid mount task state to mounted
  roles/os_hardening/tasks/minimize_access.yml
Labels: patch, os_hardening
