Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-07, with the labels that each got.

#455 add "when" statements in hardening.yml(#453)
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/hardening.yml
Labels: minor, os_hardening

#461 Add os_auth_uid_max, os_auth_gid_max
  roles/os_hardening/templates/etc/login.defs.j2
  roles/os_hardening/vars/Amazon.yml
  roles/os_hardening/vars/Archlinux.yml
  roles/os_hardening/vars/Debian.yml
  roles/os_hardening/vars/Fedora.yml
  roles/os_hardening/vars/RedHat.yml
  roles/os_hardening/vars/RedHat_7.yml
  roles/os_hardening/vars/RedHat_8.yml
  roles/os_hardening/vars/Rocky_8.yml
  roles/os_hardening/vars/Suse.yml
Labels: enhancement, minor, os_hardening

#465 update metadata to include community.mysql deps
  galaxy.yml
Labels: patch

#463 Add SUB_UID_MIN/MAX/COUNT, SUB_GID_MIN/MAX/COUNT
  roles/os_hardening/README.md
  roles/os_hardening/templates/etc/login.defs.j2
  roles/os_hardening/vars/Amazon.yml
  roles/os_hardening/vars/Archlinux.yml
  roles/os_hardening/vars/Debian.yml
  roles/os_hardening/vars/Fedora.yml
  roles/os_hardening/vars/RedHat.yml
  roles/os_hardening/vars/RedHat_7.yml
  roles/os_hardening/vars/RedHat_8.yml
  roles/os_hardening/vars/Rocky_8.yml
  roles/os_hardening/vars/Suse.yml
Labels: enhancement, minor, os_hardening

#467 Allow configuration of password remember in pam
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/templates/etc/pam.d/rhel_auth.j2
Labels: enhancement, minor, os_hardening

#466 Add CVE-2021-33909 mitigations
  roles/os_hardening/defaults/main.yml
Labels: enhancement, minor, os_hardening
