Repository dev-sec/ansible-collection-hardening, pull requests merged in 2021-08, with the labels that each got.

#471 SSH Hardening: backtick typo
  roles/ssh_hardening/README.md
Labels: patch, ssh_hardening, documentation

#473 [mysql_hardening] Allow setting the mysql_distribution
  roles/mysql_hardening/tasks/main.yml
Labels: mysql_hardening

#475 use Ansible lint in separate task
  .github/workflows/ansible-lint.yml
  molecule/mysql_hardening/molecule.yml
  molecule/nginx_hardening/molecule.yml
  molecule/os_hardening/molecule.yml
  molecule/ssh_hardening/molecule.yml
  roles/mysql_hardening/tasks/main.yml
  roles/os_hardening/tasks/hardening.yml
  roles/ssh_hardening/tasks/hardening.yml
Labels: patch, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#474 [mysql_hardening] Setup defaults for MySQL on FreeBSD
  roles/mysql_hardening/vars/FreeBSD.yml
Labels: enhancement, minor, mysql_hardening

#477 Execute check of MySQL error logfile permissions on Debian 11 only when log_error is defined
  roles/mysql_hardening/tasks/configure.yml
  roles/mysql_hardening/tasks/main.yml
Labels: enhancement, minor, mysql_hardening

#478 Use `log_error` file and `datadir` from mysql_info settings instead of variables `mysql_datadir` and `mysql_hardening_log_file`
  roles/mysql_hardening/README.md
  roles/mysql_hardening/defaults/main.yml
  roles/mysql_hardening/tasks/configure.yml
  roles/mysql_hardening/vars/Debian.yml
  roles/mysql_hardening/vars/Fedora.yml
  roles/mysql_hardening/vars/FreeBSD.yml
  roles/mysql_hardening/vars/Oracle Linux.yml
  roles/mysql_hardening/vars/RedHat_7.yml
  roles/mysql_hardening/vars/RedHat_8.yml
  roles/mysql_hardening/vars/Rocky_8.yml
  roles/mysql_hardening/vars/Ubuntu_16.yml
  roles/mysql_hardening/vars/Ubuntu_18.yml
  roles/mysql_hardening/vars/Ubuntu_20.yml
Labels: enhancement, patch, mysql_hardening, Deprecated

#479 chore(ssh_hardening): set min_ansible_version to >=2.9.10
  roles/ssh_hardening/meta/main.yml
Labels: ssh_hardening

#480 ssh_allow_tcp_forwarding is not a boolean
  roles/ssh_hardening/defaults/main.yml
Labels: patch, ssh_hardening, documentation
