Repository dev-sec/ansible-collection-hardening, pull requests merged in 2022-02, with the labels that each got.

#524 move sysctls to debian specific vars
  .github/workflows/ansible-lint.yml
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/sysctl.yml
  roles/os_hardening/vars/Amazon.yml
  roles/os_hardening/vars/Archlinux.yml
  roles/os_hardening/vars/Debian.yml
Labels: bug, patch, os_hardening

#525 remove centos8 tests
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#526 debian 9's nginx doesn't support tls1.3
  roles/nginx_hardening/defaults/main.yml
  roles/nginx_hardening/tasks/main.yml
  roles/nginx_hardening/vars/Amazon.yml
  roles/nginx_hardening/vars/Archlinux.yml
  roles/nginx_hardening/vars/Debian.yml
  roles/nginx_hardening/vars/Debian_9.yml
  roles/nginx_hardening/vars/Fedora.yml
  roles/nginx_hardening/vars/RedHat.yml
  roles/nginx_hardening/vars/Suse.yml
  roles/nginx_hardening/vars/main.yml
Labels: bug, patch, nginx_hardening

#529 add waivers to skip controls
  molecule/os_hardening/verify.yml
  molecule/os_hardening/waivers.yaml
Labels: os_hardening

#520 Change permissions of the tmout.sh file
  roles/os_hardening/tasks/profile.yml
Labels: bug, patch, os_hardening

#530 delete obsolete release drafts
  .github/workflows/release.yml
Labels: patch
