Repository dev-sec/ansible-collection-hardening, pull requests merged in 2022-11, with the labels that each got.

#597 OpenBSD does not set distributiuon_major_version
  roles/ssh_hardening/tasks/hardening.yml
Labels: bug, patch, ssh_hardening

#598 OpenBSD does not support GSSAPI Authentication
  roles/ssh_hardening/templates/openssh.conf.j2
  roles/ssh_hardening/templates/opensshd.conf.j2
Labels: enhancement, ssh_hardening

#601 add notice to sign-off work to contributor guideline
  CONTRIBUTING.md
Labels: documentation

#600 Allow ssh_allow_tcp_forwarding to be a boolean
  roles/ssh_hardening/README.md
  roles/ssh_hardening/templates/opensshd.conf.j2
Labels: enhancement, ssh_hardening

#602 Updates handlers for new ansible syntax and deprecated options for legacy commands
  roles/os_hardening/handlers/main.yml
Labels: patch, os_hardening

#605 Add OpenSUSE support
  .github/workflows/mysql_hardening.yml
  molecule/mysql_hardening/converge.yml
  molecule/mysql_hardening/prepare.yml
  roles/mysql_hardening/README.md
  roles/mysql_hardening/vars/Suse.yml
Labels: enhancement, minor, mysql_hardening

#607 Extended net hardening
  roles/os_hardening/defaults/main.yml
Labels: enhancement, minor, os_hardening
