Repository dev-sec/ansible-collection-hardening, pull requests merged in 2022-09, with the labels that each got.

#573 add centos >8 Support
  roles/ssh_hardening/vars/CentOS_8.yml
  roles/ssh_hardening/vars/CentOS_9.yml
Labels: enhancement, minor, ssh_hardening

#578 Add nginx variables for config-path and owner/group
  roles/nginx_hardening/README.md
  roles/nginx_hardening/defaults/main.yml
  roles/nginx_hardening/tasks/main.yml
  roles/nginx_hardening/templates/hardening.conf.j2
Labels: enhancement, minor, nginx_hardening

#581 run tests only on pushes to master or to PRs
  .github/workflows/ansible-lint.yml
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/prettier-md.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
Labels: patch, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening
