Repository dev-sec/ansible-collection-hardening, pull requests merged in 2022-10, with the labels that each got.

#580 do not manage trusted user ca keys if none exist
  roles/ssh_hardening/tasks/hardening.yml
Labels: bug, ssh_hardening

#579 add hardening of root user account(s)
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/user_accounts.yml
Labels: os_hardening

#592 adopt all current suggestions from ansible-lint
  .config/ansible-lint.yml
  roles/mysql_hardening/tasks/main.yml
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
  roles/os_hardening/handlers/main.yml
  roles/os_hardening/tasks/auditd.yml
  roles/os_hardening/tasks/hardening.yml
  roles/os_hardening/tasks/limits.yml
  roles/os_hardening/tasks/main.yml
  roles/os_hardening/tasks/pam.yml
  roles/os_hardening/tasks/pam_debian.yml
  roles/os_hardening/tasks/sysctl.yml
  roles/os_hardening/tasks/user_accounts.yml
  roles/ssh_hardening/tasks/main.yml
  roles/ssh_hardening/tasks/selinux.yml
Labels: patch, mysql_hardening, os_hardening, ssh_hardening, documentation

#588 Support more os
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  molecule/os_hardening_vm/prepare.yml
  roles/mysql_hardening/vars/RedHat.yml
  roles/mysql_hardening/vars/RedHat_8.yml
  roles/mysql_hardening/vars/Rocky_8.yml
  roles/mysql_hardening/vars/Ubuntu.yml
  roles/mysql_hardening/vars/Ubuntu_18.yml
  roles/mysql_hardening/vars/Ubuntu_20.yml
  roles/mysql_hardening/vars/Ubuntu_22.yml
  roles/os_hardening/vars/RedHat.yml
  roles/os_hardening/vars/RedHat_8.yml
  roles/os_hardening/vars/Rocky_8.yml
  roles/ssh_hardening/vars/CentOS_8.yml
  roles/ssh_hardening/vars/CentOS_9.yml
  roles/ssh_hardening/vars/RedHat.yml
  roles/ssh_hardening/vars/RedHat_7.yml
  roles/ssh_hardening/vars/Rocky_8.yml
Labels: patch, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#594 cast expected int types in pam tasks
  roles/os_hardening/tasks/pam_debian.yml
  roles/os_hardening/templates/etc/pam.d/rhel_auth.j2
Labels: bug, patch, os_hardening

#595 use github templates for new issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement, documentation
