Repository dev-sec/ansible-collection-hardening, pull requests merged in 2022-08, with the labels that each got.

#554 add basic support for ubuntu22.04
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  README.md
  roles/mysql_hardening/vars/Ubuntu_22.yml
Labels: enhancement, minor, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#561 add posibility to run ssh_hardening as unprivileged user
  galaxy.yml
  molecule/ssh_hardening/converge.yml
  molecule/ssh_hardening/molecule.yml
  roles/ssh_hardening/README.md
  roles/ssh_hardening/tasks/main.yml
Labels: ssh_hardening

#562 revert debian 9 change, only one tls variable now
  roles/nginx_hardening/defaults/main.yml
  roles/nginx_hardening/tasks/main.yml
  roles/nginx_hardening/vars/Amazon.yml
  roles/nginx_hardening/vars/Archlinux.yml
  roles/nginx_hardening/vars/Debian.yml
  roles/nginx_hardening/vars/Debian_9.yml
  roles/nginx_hardening/vars/Fedora.yml
  roles/nginx_hardening/vars/RedHat.yml
  roles/nginx_hardening/vars/Suse.yml
Labels: enhancement, minor, nginx_hardening

#538 Add full support for Debian 11
  .github/workflows/ansible-lint.yml
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  .gitignore
  README.md
  molecule/mysql_hardening/converge.yml
  molecule/mysql_hardening/prepare.yml
  roles/nginx_hardening/meta/main.yml
  roles/os_hardening/meta/main.yml
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#564 change default to allow SFTP
  molecule/ssh_hardening/converge.yml
  molecule/ssh_hardening_custom_tests/converge.yml
  roles/ssh_hardening/README.md
  roles/ssh_hardening/defaults/main.yml
Labels: enhancement, breaking, ssh_hardening

#555 rework filesystem hardening
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/handlers/main.yml
  roles/os_hardening/tasks/minimize_access.yml
  roles/os_hardening/tasks/minimize_access_fs.yml
Labels: enhancement, minor, os_hardening

#571 fix misleading comment
  roles/os_hardening/defaults/main.yml
Labels: os_hardening

#572 update supported OS in meta and fix linting
  .github/workflows/ansible-lint.yml
  galaxy.yml
  roles/mysql_hardening/meta/main.yml
  roles/nginx_hardening/meta/main.yml
  roles/os_hardening/meta/main.yml
  roles/os_hardening/tasks/minimize_access.yml
  roles/os_hardening/tasks/rhosts.yml
  roles/os_hardening/tasks/suid_sgid.yml
  roles/os_hardening/tasks/user_accounts.yml
  roles/ssh_hardening/meta/main.yml
Labels: patch, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#569 add always-tag to include so other tags can be used
  roles/os_hardening/tasks/main.yml
Labels: enhancement, minor, os_hardening
