Repository dev-sec/ansible-collection-hardening, pull requests merged in 2023-02, with the labels that each got.

#628 make number of warning days before user password expires configurable
  molecule/os_hardening/converge.yml
  molecule/os_hardening/verify_tasks/pw_ageing.yml
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/templates/etc/login.defs.j2
Labels: enhancement, minor, os_hardening

#629 remove unneccessary tasks for VM based test
  .github/workflows/os_hardening_vm.yml
  roles/os_hardening/vars/Suse.yml
Labels: os_hardening

#631 Make action_mail_acct configurable in auditd
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/templates/etc/audit/auditd.conf.j2
Labels: enhancement, minor, os_hardening

#632 try to fix molecule local tests
  molecule/mysql_hardening/molecule.yml
  molecule/nginx_hardening/molecule.yml
  molecule/os_hardening/molecule.yml
  molecule/ssh_hardening/molecule.yml
  molecule/ssh_hardening_custom_tests/molecule.yml
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#634 run our CI tests periodically
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  molecule/os_hardening_vm/molecule.yml
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#636 Fix molecule tests for EL7
  molecule/mysql_hardening/prepare.yml
Labels: mysql_hardening

#637 Only skip audit restart handler in docker
  roles/os_hardening/handlers/main.yml
Labels: os_hardening
