Repository dev-sec/ansible-collection-hardening, pull requests merged in 2023-08, with the labels that each got.

#684 add debian 12 support
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  README.md
  molecule/os_hardening/verify.yml
  molecule/os_hardening/verify_tasks/pam.yml
  molecule/os_hardening_vm/verify_tasks/pam.yml
Labels: enhancement, minor, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#687 add role argument spec for os, ssh, mysql
  molecule/ssh_hardening_custom_tests/converge.yml
  roles/mysql_hardening/README.md
  roles/mysql_hardening/defaults/main.yml
  roles/mysql_hardening/meta/argument_specs.yml
  roles/mysql_hardening/tasks/configure.yml
  roles/nginx_hardening/README.md
  roles/nginx_hardening/defaults/main.yml
  roles/nginx_hardening/meta/argument_specs.yml
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/meta/argument_specs.yml
  roles/os_hardening/tasks/minimize_access.yml
  roles/ssh_hardening/README.md
  roles/ssh_hardening/meta/argument_specs.yml
Labels: enhancement, breaking, minor, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#692 feat: customize user paths default
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/minimize_access.yml
Labels: os_hardening

#693 fix descriptions in readme
  roles/os_hardening/README.md
  roles/os_hardening/meta/argument_specs.yml
Labels: os_hardening
