Repository dev-sec/ansible-collection-hardening, pull requests merged in 2023-01, with the labels that each got.

#617 Add support for /etc/auditd.conf num_logs to go with max_log_file_action
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/templates/etc/audit/auditd.conf.j2
Labels: enhancement, minor, os_hardening

#535 Parametrize more auditd.conf options
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/templates/etc/audit/auditd.conf.j2
Labels: enhancement, minor, os_hardening

#582 apply password age settings to exisiting regular users
  molecule/os_hardening/converge.yml
  molecule/os_hardening/prepare.yml
  molecule/os_hardening/prepare_tasks/pw_ageing.yml
  molecule/os_hardening/verify.yml
  molecule/os_hardening/verify_tasks/pw_ageing.yml
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/user_accounts.yml
Labels: os_hardening

#624 Support for Amazon Linux 2
  roles/ssh_hardening/vars/Amazon_2.yml
Labels: ssh_hardening

#620 Fixed problems with running molecule locally with cgroup v2
  molecule/mysql_hardening/molecule.yml
  molecule/nginx_hardening/molecule.yml
  molecule/os_hardening/molecule.yml
  molecule/os_hardening/verify.yml
  molecule/os_hardening/waivers.yaml
  molecule/ssh_hardening/molecule.yml
  molecule/ssh_hardening_custom_tests/molecule.yml
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#618 deprecate rebuilding of initramfs
  roles/os_hardening/README.md
  roles/os_hardening/tasks/hardening.yml
Labels: os_hardening, documentation

#621 Rewrite system account detection and hardening and create tests
  .config/ansible-lint.yml
  molecule/os_hardening/converge.yml
  molecule/os_hardening/prepare.yml
  molecule/os_hardening/prepare_tasks/sys_account_shell.yml
  molecule/os_hardening/verify.yml
  molecule/os_hardening/verify_tasks/sys_account_shell.yml
  roles/os_hardening/tasks/minimize_access_fs.yml
  roles/os_hardening/tasks/user_accounts.yml
  roles/ssh_hardening/tasks/hardening.yml
  roles/ssh_hardening/tasks/selinux.yml
Labels: enhancement, minor, os_hardening, ssh_hardening

#584 rewrite user home dir hardening
  molecule/os_hardening/converge.yml
  molecule/os_hardening/prepare.yml
  molecule/os_hardening/prepare_tasks/ignore_home_folders.yml
  molecule/os_hardening/verify.yml
  molecule/os_hardening/verify_tasks/ignore_home_folders.yml
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/tasks/user_accounts.yml
Labels: enhancement, minor, os_hardening
