Repository dev-sec/ansible-collection-hardening, pull requests merged in 2023-11, with the labels that each got.

#708 Gather facts when os_hardening role is executed with tags
  roles/os_hardening/tasks/hardening.yml
Labels: bug, os_hardening

#649 do not try to drop roles in mysql hardening
  .github/workflows/mysql_hardening.yml
  molecule/mysql_hardening/prepare_tasks/mysql_users.yml
  molecule/mysql_hardening/verify_tasks/mysql_users.yml
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
Labels: enhancement, minor, mysql_hardening

#710 fix nginx CI tests
  .github/workflows/nginx_hardening.yml
Labels: patch, nginx_hardening

#711 fix CI test for os_hardening
  molecule/os_hardening/prepare.yml
  molecule/os_hardening/verify.yml
Labels: os_hardening

#709 add testing and support for current versions of Fedora and FreeBSD
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_bsd.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  molecule/os_hardening_vm/converge.yml
  molecule/os_hardening_vm/molecule.yml
  molecule/os_hardening_vm/prepare.yml
  molecule/ssh_hardening_bsd/waivers_freebsd13.yaml
  molecule/ssh_hardening_bsd/waivers_freebsd14.yaml
  roles/os_hardening/tasks/minimize_access.yml
  roles/ssh_hardening/meta/main.yml
Labels: enhancement, minor, os_hardening, ssh_hardening

#714 update status badges in README
  README.md
  roles/mysql_hardening/README.md
  roles/nginx_hardening/README.md
  roles/os_hardening/README.md
  roles/ssh_hardening/README.md
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#718 Restore idempotency for disabling unused filesystems with Ansible 2.16.0
  roles/os_hardening/templates/etc/modprobe.d/modprobe.j2
Labels: bug, os_hardening

#721 pin Ansible to always let Renovate update to the most current version in our tests
  .github/workflows/ansible-lint.yml
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/roles-readme.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_bsd.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  requirements.txt
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#722 support restarts of audit service on Arch linux
  .github/workflows/os_hardening_vm.yml
  molecule/os_hardening_vm/converge.yml
  roles/os_hardening/handlers/main.yml
  roles/os_hardening/tasks/auditd.yml
Labels: enhancement, os_hardening
