Repository dev-sec/ansible-collection-hardening, pull requests merged in 2023-10, with the labels that each got.

#700 Fix typo in login.defs.j2
  roles/os_hardening/templates/etc/login.defs.j2
Labels: patch, os_hardening

#702 update links to new Ansible Galaxy
  roles/nginx_hardening/README.md
Labels: nginx_hardening

#703 fix some wrong defaults and types in the readmes
  roles/mysql_hardening/README.md
  roles/nginx_hardening/README.md
  roles/nginx_hardening/meta/argument_specs.yml
  roles/os_hardening/README.md
  roles/ssh_hardening/README.md
  roles/ssh_hardening/meta/argument_specs.yml
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#705 feat: workflow for roles readme
  .aar_doc.yml
  .github/workflows/roles-readme.yml
  roles/ssh_hardening/meta/argument_specs.yml
Labels: enhancement, ssh_hardening

#706 fix: roles-readme action default value
  .github/workflows/roles-readme.yml
  roles/ssh_hardening/meta/argument_specs.yml
Labels: ssh_hardening
