Repository dev-sec/ansible-collection-hardening, pull requests merged in 2023-03, with the labels that each got.

#641 simplify MySQL queries for user deletion
  molecule/mysql_hardening/molecule.yml
  molecule/mysql_hardening/prepare.yml
  molecule/mysql_hardening/prepare_tasks/mysql_users.yml
  molecule/mysql_hardening/verify.yml
  molecule/mysql_hardening/verify_tasks/mysql_users.yml
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
Labels: patch, mysql_hardening

#647 fixes #646 - add another condition to getent task
  roles/os_hardening/tasks/user_accounts.yml
Labels: bug, patch, os_hardening

#644 add check mode to molecule tests
  molecule/mysql_hardening/molecule.yml
  molecule/nginx_hardening/molecule.yml
  molecule/os_hardening/molecule.yml
  molecule/os_hardening_vm/molecule.yml
  molecule/ssh_hardening/molecule.yml
  molecule/ssh_hardening_custom_tests/molecule.yml
  roles/mysql_hardening/tasks/mysql_secure_installation.yml
  roles/os_hardening/tasks/limits.yml
  roles/os_hardening/tasks/suid_sgid.yml
Labels: enhancement, minor, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#642 add testing for OpenBSD and FreeBSD
  .github/workflows/ssh_hardening_bsd.yml
  molecule/ssh_hardening_bsd/INSTALL.rst
  molecule/ssh_hardening_bsd/converge.yml
  molecule/ssh_hardening_bsd/molecule.yml
  molecule/ssh_hardening_bsd/prepare.yml
  molecule/ssh_hardening_bsd/requirements.yml
  molecule/ssh_hardening_bsd/verify.yml
  molecule/ssh_hardening_bsd/waivers_freebsd12.yaml
  molecule/ssh_hardening_bsd/waivers_openbsd7.yaml
  roles/ssh_hardening/meta/main.yml
Labels: enhancement, minor, ssh_hardening
