Repository dev-sec/ansible-collection-hardening, pull requests merged in 2024-07, with the labels that each got.

#777 remove tests for FreeBSD12 since it's out of support
  .config/ansible-lint.yml
  .github/workflows/ssh_hardening_bsd.yml
  molecule/ssh_hardening_bsd/waivers_freebsd12.yaml
  roles/ssh_hardening/meta/main.yml
Labels: minor, ssh_hardening

#774 Ensure that ssh is installed (cf #771)
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/tasks/disable-systemd-socket.yml
  roles/ssh_hardening/tasks/hardening.yml
  roles/ssh_hardening/tasks/install.yml
  roles/ssh_hardening/vars/Amazon_2.yml
  roles/ssh_hardening/vars/Archlinux.yml
  roles/ssh_hardening/vars/Debian.yml
  roles/ssh_hardening/vars/Fedora.yml
  roles/ssh_hardening/vars/Fedora_37.yml
  roles/ssh_hardening/vars/FreeBSD.yml
  roles/ssh_hardening/vars/OpenBSD.yml
  roles/ssh_hardening/vars/RedHat.yml
  roles/ssh_hardening/vars/RedHat_9.yml
  roles/ssh_hardening/vars/SmartOS.yml
  roles/ssh_hardening/vars/Suse.yml
  roles/ssh_hardening/vars/main.yml
Labels: enhancement, minor, ssh_hardening

#782 Remove deprecated rebuild of initrd
  roles/os_hardening/README.md
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/meta/argument_specs.yml
  roles/os_hardening/tasks/hardening.yml
  roles/os_hardening/tasks/sysctl.yml
Labels: os_hardening, major

#783 Update to current Fedora releases
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  README.md
  molecule/os_hardening_vm/converge.yml
  molecule/os_hardening_vm/prepare.yml
Labels: patch, os_hardening, ssh_hardening
