Repository dev-sec/ansible-collection-hardening, pull requests merged in 2024-06, with the labels that each got.

#770 Deprecate Centos Stream 8
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  README.md
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#769 disable systemd socket activation
  roles/ssh_hardening/README.md
  roles/ssh_hardening/tasks/disable-systemd-socket.yml
  roles/ssh_hardening/tasks/hardening.yml
Labels: ssh_hardening

#771 ssh: explicitly enable or disable the service at boot
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/tasks/hardening.yml
Labels: enhancement, minor, ssh_hardening
