Repository dev-sec/ansible-collection-hardening, pull requests merged in 2024-10, with the labels that each got.

#797 Remove unused files and variables
  molecule/os_hardening/converge.yml
  molecule/os_hardening/verify.yml
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/meta/argument_specs.yml
  roles/os_hardening/templates/etc/initramfs-tools/modules.j2
Labels: os_hardening

#799 feat: Corrected package name
  roles/ssh_hardening/vars/Debian.yml
Labels: hacktoberfest, patch, ssh_hardening

#804 fix(docs): add 'become: true' to example playbooks. fix #787
  .aar_doc.yml
  roles/mysql_hardening/README.md
  roles/nginx_hardening/README.md
  roles/os_hardening/README.md
  roles/ssh_hardening/README.md
Labels: patch, mysql_hardening, os_hardening, ssh_hardening, nginx_hardening, documentation

#806 Document correct quotes for ssh_permit_tunnel parameter
  roles/ssh_hardening/meta/argument_specs.yml
Labels: ssh_hardening, documentation

#789 Provide granular noop for ssh configuration
  roles/ssh_hardening/README.md
  roles/ssh_hardening/defaults/main.yml
  roles/ssh_hardening/meta/argument_specs.yml
  roles/ssh_hardening/tasks/hardening.yml
  roles/ssh_hardening/templates/opensshd.conf.j2
Labels: enhancement, minor, ssh_hardening

#808 fix(ssh_hardening): test setting kex to false, remove wrong default
  molecule/ssh_hardening_custom_tests/converge.yml
  roles/ssh_hardening/meta/argument_specs.yml
Labels: bug, patch, ssh_hardening

#807 fix(cicd): test idempotence on ssh custom tests
  .github/workflows/ssh_hardening_custom_tests.yml
  molecule/ssh_hardening_custom_tests/molecule.yml
Labels: patch, ssh_hardening

#809 feat(ssh): add alpine support
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  molecule/ssh_hardening/prepare.yml
  molecule/ssh_hardening_custom_tests/prepare.yml
  roles/ssh_hardening/README.md
  roles/ssh_hardening/meta/main.yml
  roles/ssh_hardening/vars/Alpine.yml
Labels: enhancement, minor, ssh_hardening

#811 Pin python dependencies and optimize GitHub Actions
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/os_hardening_vm.yml
  .github/workflows/roles-readme.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_bsd.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  requirements.txt
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#810 Add variable to set name_format for auditd
  roles/os_hardening/defaults/main.yml
  roles/os_hardening/meta/argument_specs.yml
  roles/os_hardening/templates/etc/audit/auditd.conf.j2
Labels: os_hardening
