Repository dev-sec/ansible-collection-hardening, pull requests merged in 2025-02, with the labels that each got.

#847 Pin runner image to specific version to decouple from GitHub updates
  .config/ansible-lint.yml
  .github/workflows/ansible-lint.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/galaxy-publish.yml
  .github/workflows/mysql_hardening.yml
  .github/workflows/nginx_hardening.yml
  .github/workflows/os_hardening.yml
  .github/workflows/prettier-md.yml
  .github/workflows/release.yml
  .github/workflows/roles-readme.yml
  .github/workflows/ssh_hardening.yml
  .github/workflows/ssh_hardening_custom_tests.yml
  molecule/mysql_hardening/prepare.yml
  molecule/nginx_hardening/prepare.yml
  molecule/os_hardening/prepare.yml
  molecule/os_hardening_vm/prepare.yml
  roles/os_hardening/defaults/main.yml
Labels: mysql_hardening, os_hardening, ssh_hardening, nginx_hardening

#846 Refactor: combine multiple set_fact into single jinja filter
  roles/os_hardening/tasks/sysctl.yml
Labels: patch, os_hardening

#839 Set number of warning days before password expires for existing users
  roles/os_hardening/meta/main.yml
  roles/os_hardening/tasks/user_accounts.yml
Labels: enhancement, minor, os_hardening

#794 Allow to override settings for sftponly users
  roles/ssh_hardening/templates/opensshd.conf.j2
Labels: enhancement, ssh_hardening
